<ion-view view-title="Scan">
  <ion-content class="padding">
    <div class="card">
      <div class="item">
        <button ng-click="scan()" class="button button-block button-positive">
          <i class="icon ion-qr-scanner"></i>
          Scan Now
        </button>
        <button ng-click="clear()" class="button button-block">Clear</button>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">Scan Results</div>
      <div class="item item-text-wrap">QR Text : {{ scanResults }}</div>
      <div class="item item-text-wrap">POST Response : {{ response }}</div>
    </div>
  </ion-content>
</ion-view>
